/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Body  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
/* Primary button  */
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 12px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    outline: none;
    border: none;
}
/* Main Css  */
.container{
    width:1200px;
    margin: 0 auto;
}

/* Section styles  */
section#section-one{
    background: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.alink{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    outline: none;
    border: none;
}
h2.content-title {
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
p.content-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 0;
}
.image img {
    width: 100%;
}
.content {
    width: 565px;
}
.image img {
    /* width: 700px; */
    width: 70%;
}
.image {
    text-align: right;
}

/* Section two  */
.title {
    width: 500px;
    margin: auto;
}
section#section-two {
    padding: 100px 0px;
}

h2.title-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.short-des {
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

.image-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}
.imgWrapper {
    width: 32%;
}
.imgWrapper img {

}
h3.clickable {
    text-align: center;
    margin-top: 20px;
}

h3.clickable a {
    color: #000;
}
.bg1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 485px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.bg2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 485px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.bg3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 485px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}
.helpdesk {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.image-content-wrapper {}

.helpdesk {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 30px;
    margin-top: 60px;
}
.desk {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h3.desk-title {
    margin-top: 20px;
}

/* Section two end  */


/* Section three start  */

section#section-three{
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 30px 0;
}
.content2{
    width: 50%;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
h2.hot-deal {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p.hot-deal-offer {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 20px 0;
}

/* Section Four End  */
section#section-four{
    padding: 100px 0;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.gallery-img img {
    width: 100%;
}

.gallery-img {
    margin-right: 15px;
}
.gallery-img:last-child {
    margin-right: unset;
}
/* section four end  */

/* blog section  */
.blogWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.blog {
    padding-bottom: 100px;
}

.blog-image img {
    width: 100%;
    background-color: #ddd;
}
.blog-image {
    border: 1px solid #ddd;
    margin-right: 10px;
}
.blog-content {
    padding: 10px;
}

.blog-description {
    color: gray;
}

.blog-content h2 {
    text-transform: uppercase;
    font-weight: 900;
}


/* section Five start  */

section#section-five{
    padding-bottom: 100px;
}
.subscription{
    background-image: url('images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px;
    border-radius: 20px;
}
.inputBox {
    text-align: center;
    margin-top: 20px;
}
input[type="email"] {
    padding: 11px;
    width: 40%;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

/* Footer Area  */
#footer{
    background: #111010;
    padding: 100px 0;
}
p.footer-bottom {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
}

