/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Body  */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
/* Primary button  */
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 12px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    outline: none;
    border: none;
}
/* Main Css  */
.container{
    width:1200px;
    margin: 0 auto;
}

/* Section styles  */
section#section-one{
    background: rgba(229, 84, 115, 0.10);
    padding-top: 50px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.alink{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    outline: none;
    border: none;
}
h2.content-title {
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
p.content-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 0;
}
.image img {
    width: 100%;
}
.content {
    width: 565px;
}
.image img {
    /* width: 700px; */
    width: 70%;
}
.image {
    text-align: right;
}

/* Section two  */
.title {
    width: 500px;
    margin: auto;
}
section#section-two {
    padding: 100px 0px;
}

h2.title-text {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.short-des {
    line-height: 25px;
    margin-top: 10px;
    text-align: center;
}

.image-content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.imgWrapper img {
    width: 100%;
}





