/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Body  */
body{
    font-family: 'Lato', sans-serif;
}
/* Primary button  */
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
}
/* Main Css  */
*{
    margin: 0;
    padding: 0;
}
.container{
    width:1200px;
    margin: 0 auto;
}

/* Section styles  */
section#section-one{
    background: rgba(229, 84, 115, 0.10);
    padding: 100px 0px;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h2.content-title {
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
p.content-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.image img {
    width: 100%;
}













